# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="postgresql://myuser:mysecretpassword@localhost:5432/mydatabase"

# Hosting
PORT=3000
NEXT_PUBLIC_WS_PORT=3001

# Clerk credentials
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bWVldC1tb2xsdXNrLTE3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_••••••••••••••••••••••••••••••••••••••••••
CLERK_WEBHOOK_SECRET=whsec_••••••••••••••••••••••••••••••••••••••••••

# feature flags
FEATURE_GAME_TIMEOUT=true
NEXT_PUBLIC_FEATURE_MANUAL_JOIN=false